*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    
    scroll-behavior: smooth;/* hanh vi cuon len xuong*/
    font-family: Arial, Helvetica, sans-serif ;
}





/* phan dau */
#header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    
}

#header .setting {
    display: flex;
    background-color: cadetblue;
    

}

#header  .avatar {
    width: 20%;
    margin: 10px;
    border-top-right-radius: 50%;
    border-bottom-right-radius:50% ;
    
}

#header .text {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    margin-top: auto;
    margin-bottom: auto;
    


}

#header .slogan {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    color: white;
}



#header .name {
    font-size: 35px;
    color: white;
}

#header .des {
    font-size: 25px;
    color: white;
}

#content {
    margin-top: 12px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
}

#content .content-left {
    flex: 1;
    

    

}

#content .content-left-des {
    margin-left: 20px;

}

#content .content-left-des .none-list {
    list-style-type: none;
    
}

.green {
    background-color: yellowgreen !important;
    border: none;
    color: yellowgreen;
}

.silver {
    background-color: silver !important;
    border: none;
    color: silver;
}

.none-list-header {
    color: green;
    font-weight: 300;
    padding: 10px;
}



#content .content-right {
    flex: 2.5;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

#content .content-left-header {
    
    
    
    padding: 10px;
    margin: 15px 0;   
    color: cadetblue;
    border-bottom: 1px cadetblue solid ;
    border-left: 1px cadetblue solid;
    
}


#content .certificate {
    margin-left: 30px;
}


#content .content-right-header {
    padding: 10px;
    margin: 15px 0;
    color: cadetblue;
    border-bottom: 1px cadetblue solid ;
    border-left: 10px cadetblue solid;
}

#content .content-right-des {
    margin-left: 30px;
    margin-bottom: 10px;
}








@media (min-width: 1024px) {
    
}
@media (min-width: 740px) and (max-width: 1023px) {
    #header .name {
        font-size: 20px;        
    }
    
    #header .des {
        font-size: 15px;        
    }

    #header .slogan {
        font-size: 15px;
    }
}
@media (max-width: 739px) {
    #header .name {
        font-size: 10px;       
    }
    
    #header .des {
        font-size: 8px;       
    }

    #header .slogan {
        font-size: 8px;
    }

    #content {
        display: flex;
        flex-direction: column;
    }

    #content .content-left-header {
        font-size: 15px;
    }

    #content .content-left-des {
        font-size: 12px;
        
    }

    #content .content-right-des {
        font-size: 12px;
    }


}